
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  .row{
    width: 99%;
    text-align: center;
    margin-left: 1%;
  }
  
  .column {
 
    width: 33%;
    margin: 2% 0%;
  
  }
  
  .push {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 18px;
    width: 28vw;
    height: 81vh;
    margin-left: 20px ;
  
  }

  .push img{
    height: 30vh;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    /* background-color: #474e5d; */
    color: white;
    /* box-shadow: 0,0,5px,2px grey; */
    box-shadow: 5px 2px 8px #888888;
    /* background-color: pink; */
    /* height: 40vh; */
  }
  
  .container {
    padding: 1px 16px;
  }
  
  /* .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
   */
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 12px;
    width: 30vw;
    color: white;
    background-color: #000;
    text-align: center;
    margin-top: 3%;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }